################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DocumentManager/.vs/DocumentManager/FileContentIndex
/DocumentManager/.vs/DocumentManager/v17
